Repository Licruit/Licruit-frontend, pull requests merged in 2024-08, with the labels that each got.

#21 [Style/#20]: 인증완료 처리 & useMutation 적용
  package-lock.json
  package.json
  src/App.tsx
  src/features/Auth/api/findPassword.api.ts
  src/features/Auth/components/common/Form/AuthForm.tsx
  src/features/Auth/hooks/useCode.ts
  src/features/Auth/hooks/useFindPassword.ts
  src/features/Auth/index.ts
  src/features/Auth/types/findPassword.d.ts
  src/pages/FindPasswordPage.tsx
  src/pages/SignUpPage.tsx
Labels: style

#25 [Api/#3]: 회원가입 연동
  package-lock.json
  public/assets/icons/down-arrow.svg
  src/components/Input/FormInput.tsx
  src/components/Input/FormSelect.tsx
  src/features/Auth/api/signup.api.ts
  src/features/Auth/components/Join/ConsentForm.tsx
  src/features/Auth/components/Join/DropDown.tsx
  src/features/Auth/components/Join/IndustryForm.tsx
  src/features/Auth/components/Join/JoinForm.tsx
  src/features/Auth/components/Join/PasswordWithIdForm.tsx
  src/features/Auth/components/Join/TermItem.tsx
  src/features/Auth/components/common/Form/GenericForm.tsx
  src/features/Auth/constants/tos.ts
  src/features/Auth/hooks/useAuth.ts
  src/features/Auth/hooks/useClickOutside.ts
  src/features/Auth/hooks/useMap.ts
  src/features/Auth/hooks/useSignup.ts
  src/features/Auth/types/signup.d.ts
  src/pages/SignUpPage.tsx
Labels: API, refactor, chore

#31 [Feat/#27]: 전통주 상세 조회 구현
  .eslintrc.cjs
  public/assets/icons/glass.svg
  public/assets/icons/index.ts
  public/assets/icons/review.svg
  public/assets/icons/waving.svg
  src/api/http.ts
  src/components/Button/Button.tsx
  src/components/Header/Header.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Rating/Glass.tsx
  src/components/Rating/Rating.tsx
  src/constants/api.ts
  src/constants/pagination.ts
  src/features/CatalogDetail/api/liquor.api.ts
  src/features/CatalogDetail/api/register.api.ts
  src/features/CatalogDetail/components/GroupBuyingList/GroupBuyingList.tsx
  src/features/CatalogDetail/components/GroupBuyingList/GroupBuyingListItem.tsx
  src/features/CatalogDetail/components/LiquorDetail.tsx
  src/features/CatalogDetail/components/LiquorInfo/InfoBox.tsx
  src/features/CatalogDetail/components/LiquorInfo/InfoItem.tsx
  src/features/CatalogDetail/components/LiquorInfo/InfoTap.tsx
  src/features/CatalogDetail/components/LiquorInfo/LiquorInfo.tsx
  src/features/CatalogDetail/components/LiquorInfo/ReviewBox/ReviewBox.tsx
  src/features/CatalogDetail/components/LiquorInfo/ReviewBox/ReviewListItem.tsx
  src/features/CatalogDetail/components/LiquorInfo/ReviewBox/SortSelect.tsx
  src/features/CatalogDetail/components/LiquorIntro/LiquorIntro.tsx
  src/features/CatalogDetail/components/LiquorIntro/StatBox.tsx
  src/features/CatalogDetail/components/SideBar.tsx
  src/features/CatalogDetail/hooks/useLiquorDetail.ts
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/CatalogDetail/index.ts
  src/features/CatalogDetail/model/liquor.model.ts
  src/pages/CatelogDetailPage.tsx
  src/routes/index.tsx
  src/styles/components/Badge.ts
Labels: API, feat

#32 [Api/#3] 회원가입 오류 수정 및 사업자 번호 중복확인
  src/components/Input/FormSelect.tsx
  src/features/Join/api/signup.api.ts
  src/features/Join/components/ConsentForm.tsx
  src/features/Join/components/IndustryForm.tsx
  src/features/Join/components/PasswordWithIdForm.tsx
  src/features/Join/constants/business.ts
  src/features/Join/data/tos.ts
  src/features/Join/hooks/useSignup.ts
  src/features/Join/types/signup.d.ts
  src/pages/SignUpPage.tsx
Labels: fix, API, refactor, file

#28 [Chore/#24]:StoroyBook 설정
  .eslintrc.cjs
  .github/workflows/chromatic.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  chromatic.config.json
  package-lock.json
  package.json
  src/components/Form/MultiStep.tsx
  src/stories/MultiStep.stories.tsx
Labels: chore

#35 [Test/#34]: test reporter 세팅
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Labels: test

#36 [Style/#33]:카탈로그 목록 조회 페이지 구현
  public/assets/icons/reading-glasses.svg
  public/assets/images/catalog/basil.png
  src/components/Header/Category.tsx
  src/components/Header/Search.tsx
  src/components/Input/FormInput.tsx
  src/constants/category.ts
  src/features/Catalog/components/Filter.tsx
  src/features/Catalog/components/Header/CatalogHeader.tsx
  src/features/Catalog/components/Main/ProductCard.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/Catalog/constants/filter.ts
  src/features/Catalog/index.ts
  src/features/Join/api/signup.api.ts
  src/layouts/NavContentLayout.tsx
  src/pages/CatalogPage.tsx
  src/routes/index.tsx
Labels: style

#39 [Feat/#38]: 프로필 페이지 UI 구현
  .eslintrc.cjs
  public/assets/icons/Edit.svg
  public/assets/icons/backarrow.svg
  public/assets/icons/close.svg
  public/assets/icons/index.ts
  public/assets/images/mock-profile.svg
  src/components/Button/Button.tsx
  src/components/Header/Header.tsx
  src/components/Modal/Modal.tsx
  src/features/Profile/components/EditProfile/CategoryButtons.tsx
  src/features/Profile/components/EditProfile/CompanyProfile.tsx
  src/features/Profile/components/EditProfile/EditProfile.tsx
  src/features/Profile/components/EditProfile/StoreProfile.tsx
  src/features/Profile/components/Mypage/CompanyShowButtons.tsx
  src/features/Profile/components/Mypage/ContentList.tsx
  src/features/Profile/components/Mypage/ContentListItem.tsx
  src/features/Profile/components/Mypage/MyPage.tsx
  src/features/Profile/components/common/ContentCategory.tsx
  src/features/Profile/components/common/Label.tsx
  src/features/Profile/components/common/MyPageHeader.tsx
  src/features/Profile/components/common/Profile.tsx
  src/features/Profile/components/common/ProfileInput.tsx
  src/features/Profile/constants/category.ts
  src/features/Profile/constants/label.ts
  src/pages/MainPage.tsx
  src/store/modal/useModalStore.ts
  src/styles/components/Container.ts
Labels: style

#47 [Fix/#45]: 사파리 css 오류 수정, 토큰 저장 방식 수정 등
  public/assets/icons/check.svg
  src/api/auth.api.ts
  src/api/http.ts
  src/api/instance.ts
  src/components/Button/Button.tsx
  src/components/Form/AuthForm.tsx
  src/components/Form/PasswordInput.tsx
  src/components/Header/Header.tsx
  src/constants/constants.md
  src/constants/storage.ts
  src/features/CatalogDetail/api/liquor.api.ts
  src/features/CatalogDetail/api/register.api.ts
  src/features/CatalogDetail/components/SideBar.tsx
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/FindPassword/api/findPassword.api.ts
  src/features/Join/api/signup.api.ts
  src/features/Login/api/login.api.ts
  src/features/Login/hooks/useLogin.ts
  src/features/Login/models/user.model.ts
  src/features/Main/components/BrandNew/BrandNew.tsx
  src/features/Profile/api/getProfile.ts
  src/features/Profile/api/putProfile.ts
  src/layouts/AuthLayout.tsx
  src/utils/storage.ts
Labels: fix, style

#52 [Fix/#45]: axios instance 통일, 비밀번호 변경 api 요청 수정
  src/api/auth.api.ts
  src/api/http.ts
  src/features/CatalogDetail/api/liquor.api.ts
  src/features/CatalogDetail/api/register.api.ts
  src/features/FindPassword/api/findPassword.api.ts
  src/features/FindPassword/hooks/useFindPassword.ts
  src/features/Join/api/signup.api.ts
  src/features/Login/api/login.api.ts
  src/features/Profile/api/getProfile.ts
  src/features/Profile/api/putProfile.ts
Labels: fix

#44 [Style/#43] 공동구매 컴포넌트 UI 구현
  public/assets/icons/info.svg
  src/components/Modal/Modal.tsx
  src/features/Profile/components/EditProfile/CategoryButtons.tsx
  src/features/Profile/components/EditProfile/CompanyProfile.tsx
  src/features/Profile/components/EditProfile/EditProfile.tsx
  src/features/Profile/components/EditProfile/StoreProfile.tsx
  src/features/Profile/components/GroupBuy/GroupBuy.tsx
  src/features/Profile/components/Mypage/CompanyShowButtons.tsx
  src/features/Profile/components/Mypage/MyPage.tsx
  src/features/Profile/components/Mypage/MyPageSideMenu.tsx
  src/features/Profile/components/common/Profile.tsx
  src/features/Profile/components/common/ProfileInput.tsx
  src/features/Profile/constants/category.ts
  src/features/Profile/constants/input.ts
  src/features/Profile/constants/label.ts
  src/pages/MainPage.tsx
  src/store/modal/useModalStore.ts
  src/store/mypageSideMenuStore.ts
  src/styles/components/Container.ts
Labels: style

#49 [Feat/#46]:전통주 목록 조회
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header/Search.tsx
  src/components/Header/Tabs.tsx
  src/components/Input/FormInput.tsx
  src/constants/tab.ts
  src/features/Catalog/api/catalog.api.ts
  src/features/Catalog/components/Filter.tsx
  src/features/Catalog/components/Header/CatalogHeader.tsx
  src/features/Catalog/components/Header/Category.tsx
  src/features/Catalog/components/Main/ProductCard.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/Catalog/constants/filter.ts
  src/features/Catalog/hooks/useCatalog.ts
  src/features/Catalog/types/CatalogParams.ts
  src/features/Catalog/types/catalog.ts
  src/layouts/NavContentLayout.tsx
  src/pages/CatalogPage.tsx
Labels: API, feat

#50 [Style/#48]: 회원탈퇴 메뉴 UI 구현
  public/assets/icons/buttonaccent.svg
  public/assets/icons/index.ts
  src/components/Input/FormSelect.tsx
  src/features/Profile/components/EditProfile/StoreProfile.tsx
  src/features/Profile/components/GroupBuy/GroupBuyOpenForm.tsx
  src/features/Profile/components/Mypage/MyPageSideMenu.tsx
  src/features/Profile/components/SignOut/CheckUser.tsx
  src/features/Profile/components/SignOut/Complete.tsx
  src/features/Profile/components/SignOut/Confirm.tsx
  src/features/Profile/components/SignOut/Reason.tsx
  src/features/Profile/components/SignOut/SignOut.tsx
  src/features/Profile/components/common/CancelAndNext.tsx
  src/features/Profile/components/common/NextButton.tsx
  src/styles/components/Description.tsx
Labels: style

#56 [Fix/#54]: 배포 404 오류 수정 > toml 파일 추가
  netlify.toml
Labels: fix

#55 [Feat/#37]:목록 조회 추가 수정
  src/components/Pagination/Pagination.tsx
  src/features/Catalog/api/catalog.api.ts
  src/features/Catalog/components/Filter.tsx
  src/features/Catalog/components/Header/CatalogHeader.tsx
  src/features/Catalog/components/Header/Category.tsx
  src/features/Catalog/components/Main/ProductCard.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/Join/components/ConsentForm.tsx
  src/features/Join/types/signup.d.ts
  src/pages/CatalogPage.tsx
  src/pages/SignUpPage.tsx
Labels: feat, style

#57 [Api/#53] 프로필 조회 및 수정 api 연결
  src/constants/storage.ts
  src/features/Login/hooks/useLogin.ts
  src/features/Profile/api/getProfile.ts
  src/features/Profile/api/putProfile.ts
  src/features/Profile/components/EditProfile/CategoryButtons.tsx
  src/features/Profile/components/EditProfile/CompanyProfile.tsx
  src/features/Profile/components/EditProfile/EditProfile.tsx
  src/features/Profile/components/EditProfile/EditProfileForm.tsx
  src/features/Profile/components/EditProfile/StoreProfile.tsx
  src/features/Profile/components/GroupBuy/GroupBuyOpenForm.tsx
  src/features/Profile/components/Mypage/MyPage.tsx
  src/features/Profile/components/common/Profile.tsx
  src/features/Profile/components/common/ProfileInput.tsx
  src/features/Profile/constants/input.ts
  src/features/Profile/hooks/useProfileImageMutaion.tsx
  src/features/Profile/hooks/useProfileMutation.ts
  src/features/Profile/hooks/useProfileQuery.ts
  src/features/Profile/model/profile.model.ts
  src/main.tsx
  src/mocks/worker.ts
Labels: API, feat

#61 [Chore/#60]: Google Analytics 연동
  package-lock.json
  package.json
  vite.config.js
  vite.config.ts
Labels: chore

#67 [Fix/#66]: Profile 관련 타입 재설정 및 기타 수정
  src/features/Profile/components/EditProfile/CategoryButtons.tsx
  src/features/Profile/components/EditProfile/EditProfileForm.tsx
  src/features/Profile/components/Mypage/MyPage.tsx
  src/features/Profile/components/common/Profile.tsx
  src/features/Profile/model/profile.model.ts
  src/hooks/usertype/useUserType.ts
Labels: fix, refactor

#65 [Refactor/#62] : 오류 수정 및 전체적인 코드 개선
  src/components/Form/AuthForm.tsx
  src/components/Form/GenericForm.tsx
  src/components/Header/Category.tsx
  src/components/Input/Dropdown.tsx
  src/components/Input/FormSelect.tsx
  src/components/Pagination/Pagination.tsx
  src/constants/form/form.ts
  src/features/Catalog/api/catalog.api.ts
  src/features/Catalog/components/Header/CatalogHeader.tsx
  src/features/Catalog/components/Header/Category.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/Catalog/hooks/useCatalog.ts
  src/features/CatalogDetail/components/LiquorInfo/ReviewBox/ReviewBox.tsx
  src/features/FindPassword/hooks/useFindPassword.ts
  src/features/FindPassword/types/findPassword.d.ts
  src/features/Join/api/signup.api.ts
  src/features/Join/components/ConsentForm.tsx
  src/features/Join/components/IndustryForm.tsx
  src/features/Join/components/PasswordWithIdForm.tsx
  src/features/Join/hooks/useSignup.ts
  src/features/Join/types/signup.d.ts
  src/features/Profile/components/SignOut/Reason.tsx
  src/hooks/category/useCategory.ts
  src/pages/SignUpPage.tsx
Labels: refactor

#59 [Api/#58] 회원탈퇴 api 연동
  src/components/Input/Dropdown.tsx
  src/features/Profile/api/signOut.ts
  src/features/Profile/components/Mypage/MyPageSideMenu.tsx
  src/features/Profile/components/SignOut/CheckUser.tsx
  src/features/Profile/components/SignOut/Complete.tsx
  src/features/Profile/components/SignOut/Confirm.tsx
  src/features/Profile/components/SignOut/Reason.tsx
  src/features/Profile/components/SignOut/SignOut.tsx
  src/features/Profile/components/common/CancelAndNext.tsx
  src/features/Profile/constants/options.ts
  src/features/Profile/hooks/useSignOutMutation.ts
  src/features/Profile/model/signout.model.ts
  src/hooks/logout/useLogOut.ts
  src/styles/components/Description.tsx
Labels: API, feat

#71 [Style/#68]: 공동구매 참여 페이지 UI 구현 & 페이지네이션 수정
  public/assets/icons/add.svg
  public/assets/icons/calendar.svg
  public/assets/icons/info.svg
  public/assets/icons/remove.svg
  src/components/Input/FormInput.tsx
  src/components/Pagination/Pagination.tsx
  src/components/StatBox/StatBox.tsx
  src/constants/pagination.ts
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/CatalogDetail/components/LiquorDetail.tsx
  src/features/CatalogDetail/components/LiquorIntro/LiquorIntro.tsx
  src/features/CatalogDetail/components/SideBar.tsx
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/CatalogDetail/index.ts
  src/features/GroupBuyingDetail/components/Gauge/GaugeBar.tsx
  src/features/GroupBuyingDetail/components/Gauge/GaugeInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/Counter.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/CounterBox.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/GroupBuyingForm.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingTitle.tsx
  src/features/GroupBuyingDetail/components/SideBar.tsx
  src/features/GroupBuyingDetail/components/WholesalerInfo.tsx
  src/features/GroupBuyingDetail/index.ts
  src/features/LiquorDetail/api/liquor.api.ts
  src/features/LiquorDetail/components/InfoBox/InfoBox.tsx
  src/features/LiquorDetail/components/InfoBox/InfoItem.tsx
  src/features/LiquorDetail/components/LiquorDetail.tsx
  src/features/LiquorDetail/components/LiquorInfo.tsx
  src/features/LiquorDetail/components/ReviewBox/ReviewBox.tsx
  src/features/LiquorDetail/components/ReviewBox/ReviewListItem.tsx
  src/features/LiquorDetail/components/ReviewBox/SortSelect.tsx
  src/features/LiquorDetail/components/TapBar.tsx
  src/features/LiquorDetail/hooks/useLiquorDetail.ts
  src/features/LiquorDetail/index.ts
  src/features/LiquorDetail/models/liquor.model.ts
  src/pages/CatalogDetailPage.tsx
  src/pages/GroupBuyingDetailPage.tsx
  src/routes/index.tsx
  src/styles/GlobalStyle.ts
  src/styles/components/Divider.ts
  src/styles/components/SideBar.ts
Labels: style

#70 [FIX/#69]: 회원 탈퇴 인풋 이슈 해결
  src/features/Profile/components/SignOut/CheckUser.tsx
  src/features/Profile/components/SignOut/Reason.tsx
Labels: fix

#77 [Feat/#75]: Error Boundary, 404, toast 적용
  .stylelintrc
  package-lock.json
  package.json
  src/App.tsx
  src/api/auth.api.ts
  src/api/queryClient.ts
  src/components/Fallback/GlobalFallback.tsx
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/FindPassword/hooks/useFindPassword.ts
  src/features/LiquorDetail/api/liquor.api.ts
  src/features/Login/api/login.api.ts
  src/features/Profile/components/EditProfile/EditProfile.tsx
  src/features/Profile/components/Mypage/MyPage.tsx
  src/features/Profile/hooks/useProfileImageMutaion.tsx
  src/features/Profile/hooks/useProfileMutation.ts
  src/layouts/GlobalErrorBoundary.tsx
  src/pages/CatalogPage.tsx
  src/pages/NotFoundPage.tsx
  src/routes/index.tsx
  src/styles/GlobalStyle.ts
  src/utils/error.ts
Labels: feat

#81 [Test/#80] 프로필 변경 테스트 구현
  package-lock.json
  package.json
  src/features/Profile/components/EditProfile/EditProfileForm.tsx
  src/features/Profile/components/common/ProfileInput.tsx
  src/features/Profile/constants/input.ts
  src/mocks/profile.ts
  src/mocks/server.ts
  src/test/CustomRender.tsx
  src/test/EditProfile.test.tsx
  src/test/setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Labels: test

#82 [API/#76]: 공동구매 상세 조회, 참여 API 연동
  src/api/instance.ts
  src/features/CatalogDetail/components/SideBar.tsx
  src/features/GroupBuyingDetail/api/groupBuying.api.ts
  src/features/GroupBuyingDetail/api/wholesalerInfo.api.ts
  src/features/GroupBuyingDetail/components/Gauge/GaugeInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/Counter.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/CounterBox.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/GroupBuyingForm.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingTitle.tsx
  src/features/GroupBuyingDetail/components/SideBar.tsx
  src/features/GroupBuyingDetail/components/WholesalerInfo.tsx
  src/features/GroupBuyingDetail/hooks/useGroupBuyingDetail.ts
  src/features/GroupBuyingDetail/hooks/useRegister.ts
  src/features/GroupBuyingDetail/hooks/useWholesalerInfo.ts
  src/features/GroupBuyingDetail/models/groupBuyingDetail.model.ts
  src/features/GroupBuyingDetail/models/wholesalerInfo.model.ts
  src/features/LiquorDetail/components/InfoBox/InfoBox.tsx
  src/features/LiquorDetail/components/LiquorDetail.tsx
  src/features/LiquorDetail/components/LiquorInfo.tsx
  src/features/LiquorDetail/hooks/useLiquorDetail.ts
  src/pages/CatalogDetailPage.tsx
  src/pages/GroupBuyingDetailPage.tsx
  src/utils/d-day.ts
  src/utils/format.ts
Labels: API

#83 [Api/#74] 공동구매 오픈 api 연결
  package-lock.json
  package.json
  public/assets/icons/info.svg
  src/features/Catalog/types/catalog.ts
  src/features/Profile/api/postGroupBuy.ts
  src/features/Profile/components/GroupBuy/DatePickerComponent.tsx
  src/features/Profile/components/GroupBuy/GroupBuyOpenForm.tsx
  src/features/Profile/components/GroupBuy/RegionsButtons.tsx
  src/features/Profile/components/GroupBuy/SearchProduct.tsx
  src/features/Profile/components/GroupBuy/TimePickerComponent.tsx
  src/features/Profile/components/common/Label.tsx
  src/features/Profile/components/common/ProfileInput.tsx
  src/features/Profile/constants/input.ts
  src/features/Profile/constants/location.ts
  src/features/Profile/hooks/useGroupBuyMutation.ts
  src/features/Profile/hooks/useProfileImageMutaion.ts
  src/features/Profile/model/groupbuy.model.ts
Labels: API, feat

#85 [Feat/#84]: 공동구매 참여 페이지 추가작업
  package-lock.json
  package.json
  src/features/CatalogDetail/components/SideBar.tsx
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/GroupBuyingDetail/components/Gauge/GaugeBar.tsx
  src/features/GroupBuyingDetail/components/Gauge/GaugeInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/Counter.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/CounterBox.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/GroupBuyingForm.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingInfo.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingInfo/GroupBuyingTitle.tsx
  src/features/GroupBuyingDetail/components/SideBar.tsx
  src/features/GroupBuyingDetail/hooks/useGroupBuyingDetail.ts
  src/features/GroupBuyingDetail/hooks/useRegister.ts
  src/features/LiquorDetail/components/InfoBox/InfoBox.tsx
  src/pages/CatalogDetailPage.tsx
  src/pages/GroupBuyingDetailPage.tsx
  src/utils/clamp.ts
  src/utils/d-day.ts
  src/utils/day.ts
Labels: feat, refactor

#98 [Style/#89]:구매자 상세페이지 UI
  src/components/Liquor/GroupBuyingCard.tsx
  src/features/Catalog/components/Filter/FilterOption.tsx
  src/features/GroupBuying/components/GroupBuyingGrid/GroupBuyingGrid.tsx
  src/features/Join/api/signup.api.ts
  src/features/Join/components/IndustryForm.tsx
  src/features/Join/components/PasswordWithIdForm.tsx
  src/features/Management/api/orderDetail.ts
  src/features/Management/components/BuyerDetail/BuyDetail.tsx
  src/features/Management/components/BuyerDetail/BuyerTable.tsx
  src/features/Management/hooks/useOrderDetail.ts
  src/pages/BuyerDetailPage.tsx
  src/routes/index.tsx
  src/utils/format.ts
Labels: style

#92 [Style/#91] 마이페이지 컨텐츠 내부 리뷰 남기기 UI 구현
  src/features/SideMenu/api/getProfile.ts
  src/features/SideMenu/api/postGroupBuy.ts
  src/features/SideMenu/api/putProfile.ts
  src/features/SideMenu/api/signOut.ts
  src/features/SideMenu/components/EditProfile/CategoryButtons.tsx
  src/features/SideMenu/components/EditProfile/EditProfile.tsx
  src/features/SideMenu/components/EditProfile/EditProfileForm.tsx
  src/features/SideMenu/components/GroupBuy/DatePickerComponent.tsx
  src/features/SideMenu/components/GroupBuy/GroupBuyOpenForm.tsx
  src/features/SideMenu/components/GroupBuy/RegionsButtons.tsx
  src/features/SideMenu/components/GroupBuy/SearchProduct.tsx
  src/features/SideMenu/components/GroupBuy/TimePickerComponent.tsx
  src/features/SideMenu/components/Mypage/CompanyShowButtons.tsx
  src/features/SideMenu/components/Mypage/ContentList.tsx
  src/features/SideMenu/components/Mypage/ContentListItem.tsx
  src/features/SideMenu/components/Mypage/MyPage.tsx
  src/features/SideMenu/components/Mypage/MyPageSideMenu.tsx
  src/features/SideMenu/components/Review/Review.tsx
  src/features/SideMenu/components/Review/ReviewForm.tsx
  src/features/SideMenu/components/SignOut/CheckUser.tsx
  src/features/SideMenu/components/SignOut/Complete.tsx
  src/features/SideMenu/components/SignOut/Confirm.tsx
  src/features/SideMenu/components/SignOut/Reason.tsx
  src/features/SideMenu/components/SignOut/SignOut.tsx
  src/features/SideMenu/components/common/CancelAndNext.tsx
  src/features/SideMenu/components/common/ContentCategory.tsx
  src/features/SideMenu/components/common/Label.tsx
  src/features/SideMenu/components/common/MyPageHeader.tsx
  src/features/SideMenu/components/common/NextButton.tsx
  src/features/SideMenu/components/common/Profile.tsx
  src/features/SideMenu/components/common/ProfileInput.tsx
  src/features/SideMenu/constants/input.ts
  src/features/SideMenu/constants/location.ts
  src/features/SideMenu/constants/options.ts
  src/features/SideMenu/hooks/useGroupBuyMutation.ts
  src/features/SideMenu/hooks/useProfileImageMutaion.ts
  src/features/SideMenu/hooks/useProfileMutation.ts
  src/features/SideMenu/hooks/useProfileQuery.ts
  src/features/SideMenu/hooks/useSignOutMutation.ts
  src/features/SideMenu/model/groupbuy.model.ts
  src/features/SideMenu/model/profile.model.ts
  src/features/SideMenu/model/signout.model.ts
  src/pages/MainPage.tsx
  src/styles/components/Description.ts
  src/test/EditProfile.test.tsx
Labels: style

#99 [Api/#90]:구매자 상세 조회 페이지 API 연동
  src/features/Management/components/BuyerDetail/BuyDetail.tsx
  src/features/Management/components/BuyerDetail/BuyerTable.tsx
  src/features/Management/hooks/useOrderDetail.ts
  src/routes/index.tsx
Labels: API

#94 [API/#86]: 전통주 상세 페이지 API 추가 연동
  package-lock.json
  package.json
  src/features/CatalogDetail/api/buyings.api.ts
  src/features/CatalogDetail/components/GroupBuyingList/GroupBuyingList.tsx
  src/features/CatalogDetail/components/GroupBuyingList/GroupBuyingListItem.tsx
  src/features/CatalogDetail/hooks/useCurrentBuyings.ts
  src/features/CatalogDetail/models/buying.model.ts
  src/features/LiquorDetail/api/review.api.ts
  src/features/LiquorDetail/components/Fallback.tsx
  src/features/LiquorDetail/components/LiquorInfo.tsx
  src/features/LiquorDetail/components/ReviewBox/ReviewBox.tsx
  src/features/LiquorDetail/components/ReviewBox/ReviewListItem.tsx
  src/features/LiquorDetail/components/ReviewBox/SortSelect.tsx
  src/features/LiquorDetail/hooks/useReviews.ts
  src/features/LiquorDetail/models/review.model.ts
  src/features/LiquorDetail/utils/formatCompanyNumber.ts
  src/utils/date.ts
Labels: API

#100 [Chore/#95]: CD 구축
  .github/workflows/cd.yml
Labels: chore

#101 [Style/#89]:구매자 관리 페이지 좌측 정보 UI
  src/features/Catalog/components/Main/ProductCard.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/LiquorDetail/components/Fallback.tsx
  src/features/LiquorDetail/components/ReviewBox/ReviewListItem.tsx
  src/features/Management/components/BuyerDetail/BuyDetail.tsx
  src/features/Management/components/BuyerDetail/BuyerTable.tsx
  src/layouts/ManagementLayout.tsx
  src/pages/BuyerDetailPage.tsx
Labels: style

#106 [Api/#96] 리뷰 작성하기 api 구현 및 연동
  src/features/SideMenu/api/postReview.ts
  src/features/SideMenu/components/EditProfile/EditProfile.tsx
  src/features/SideMenu/components/EditProfile/EditProfileForm.tsx
  src/features/SideMenu/components/GroupBuy/GroupBuyOpenForm.tsx
  src/features/SideMenu/components/Mypage/CompanyShowButtons.tsx
  src/features/SideMenu/components/Mypage/MyPageSideMenu.tsx
  src/features/SideMenu/components/Review/Review.tsx
  src/features/SideMenu/components/Review/ReviewForm.tsx
  src/features/SideMenu/components/SignOut/SignOut.tsx
  src/features/SideMenu/components/common/CancelAndNext.tsx
  src/features/SideMenu/components/common/Profile.tsx
  src/features/SideMenu/constants/description.ts
  src/features/SideMenu/constants/notice.ts
  src/features/SideMenu/hooks/useGroupBuyMutation.ts
  src/features/SideMenu/hooks/useProfileMutation.ts
  src/features/SideMenu/hooks/useReviewMutation.ts
  src/features/SideMenu/model/review.model.ts
  src/store/mypageSideMenuStore.ts
  src/styles/GlobalStyle.ts
Labels: API, feat

#104 [Feat/#102]: 자동로그인 구현 및 기타 수정
  public/assets/icons/checkbox.svg
  public/assets/icons/index.ts
  src/api/http.ts
  src/components/Header/Navigation.tsx
  src/features/CatalogDetail/hooks/useRegister.ts
  src/features/GroupBuyingDetail/components/GroupBuyingForm/CounterBox.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/GroupBuyingForm.tsx
  src/features/GroupBuyingDetail/hooks/useRegister.ts
  src/features/Login/api/login.api.ts
  src/features/Login/components/LoginForm.tsx
  src/features/Login/hooks/useLogin.ts
  src/hooks/logout/useLogOut.ts
  src/pages/LoginPage.tsx
  src/routes/PublicRoutes.tsx
  src/store/loginStore.ts
  src/store/sessionStore.ts
  src/utils/storage.ts
Labels: feat

#105 [Feat/#97]: 공동구매 현황 api 구현 및 연결
  src/components/Header/Navigation.tsx
  src/features/SideMenu/api/getGroupBuyList.ts
  src/features/SideMenu/api/getGroupBuyStatus.ts
  src/features/SideMenu/api/putCancelOrder.ts
  src/features/SideMenu/components/EditProfile/EditProfile.tsx
  src/features/SideMenu/components/EditProfile/EditProfileForm.tsx
  src/features/SideMenu/components/Mypage/CompanyContentCategory.tsx
  src/features/SideMenu/components/Mypage/ContentList.tsx
  src/features/SideMenu/components/Mypage/ContentListItem.tsx
  src/features/SideMenu/components/Mypage/MyPage.tsx
  src/features/SideMenu/components/Mypage/MyPageSideMenu.tsx
  src/features/SideMenu/components/Mypage/ShopContentCategory.tsx
  src/features/SideMenu/components/common/ContentCategory.tsx
  src/features/SideMenu/components/common/ContentInfoHeader.tsx
  src/features/SideMenu/hooks/useCancelOrderMutation.ts
  src/features/SideMenu/hooks/useCompanyStatusQuery.ts
  src/features/SideMenu/hooks/useGroupBuyListQuery.ts
  src/features/SideMenu/hooks/useProfileQuery.ts
  src/features/SideMenu/hooks/useShopStatusQuery.ts
  src/features/SideMenu/model/groupbuylist.model.ts
  src/features/SideMenu/model/groupbuystatus.model.ts
  src/hooks/usertype/useUserType.ts
  src/pages/MainPage.tsx
Labels: API, feat

#110 [Refactor/#87] : 공동구매 목록 조회 기능 추가 및 UI 수정
  src/components/Liquor/GroupBuyingCard.tsx
  src/features/GroupBuying/api/liquor.api.ts
  src/features/GroupBuying/api/region.api.ts
  src/features/GroupBuying/components/Fallback.tsx
  src/features/GroupBuying/components/GroupBuyingGrid/GroupBuyingGrid.tsx
  src/features/GroupBuying/components/Header/Region.tsx
  src/features/GroupBuying/components/Preview.tsx
  src/features/GroupBuying/components/RegionSelect.tsx
  src/features/GroupBuying/hooks/useLiquor.ts
  src/features/GroupBuying/hooks/useRegion.ts
  src/features/Join/api/signup.api.ts
  src/pages/GroupBuyingPage.tsx
  src/routes/index.tsx
Labels: API, feat, style

#112 [Refactor/#111]:카탈로그 목록 조회 정렬테스트 및 UI 수정
  src/components/Button/Button.tsx
  src/features/Catalog/api/catalog.api.ts
  src/features/Catalog/components/Empty.tsx
  src/features/Catalog/components/Filter/FilterOption.tsx
  src/features/Catalog/components/Header/Category.tsx
  src/features/Catalog/components/Main/ProductCard.tsx
  src/features/Catalog/components/Main/ProductGrid.tsx
  src/features/Catalog/components/ProductFallback.tsx
  src/features/Catalog/hooks/useCatalog.ts
  src/features/Catalog/hooks/useQueryParams.ts
  src/features/Catalog/types/CatalogParams.ts
  src/pages/CatalogPage.tsx
Labels: fix, API, feat, style

#109 [Feat/#103]: 공동구매 관리 페이지 구현 & 조회 API 연동
  public/assets/images/footer.svg
  src/components/Footer.tsx
  src/components/Header/HeaderWithSearch.tsx
  src/components/Header/Search.tsx
  src/constants/tab.ts
  src/features/Catalog/components/Header/CatalogHeader.tsx
  src/features/Management/api/buyers.api.ts
  src/features/Management/components/BuyerDetail/BuyDetail.tsx
  src/features/Management/components/BuyerList/BuyerList.tsx
  src/features/Management/components/SearchBar.tsx
  src/features/Management/hooks/useBuyerList.ts
  src/features/Management/index.ts
  src/features/Management/models/buyer.model.ts
  src/layouts/AuthLayout.tsx
  src/layouts/GroupBuyingLayout.tsx
  src/layouts/MainLayout.tsx
  src/layouts/ManagementLayout.tsx
  src/layouts/NavContentLayout.tsx
  src/pages/BuyerDetailPage.tsx
  src/pages/BuyerListPage.tsx
  src/routes/index.tsx
  src/utils/format.ts
Labels: API, feat

#115 CD workflow yml 수정
  .github/workflows/cd.yml
Labels: fix

#119 [Fix/#118]: 공동구매 관련 UI 수정사항 반영
  src/components/ScrollToTop.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/Counter.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/CounterBox.tsx
  src/features/Management/components/BuyerList/BuyerList.tsx
  src/features/Management/models/buyer.model.ts
  src/layouts/GroupBuyingLayout.tsx
  src/layouts/MainLayout.tsx
  src/layouts/ManagementLayout.tsx
  src/layouts/NavContentLayout.tsx
  src/utils/clamp.ts
Labels: fix

#123 [Refactor/#88]:사업자번호 진위 확인 OCR 방식 수정 및 회원가입 오류 해결
  src/components/Input/Dropdown.tsx
  src/features/GroupBuyingDetail/components/GroupBuyingForm/GroupBuyingForm.tsx
  src/features/Join/api/signup.api.ts
  src/features/Join/components/ConsentForm.tsx
  src/features/Join/components/IndustryForm.tsx
  src/features/Join/components/PasswordWithIdForm.tsx
  src/features/Join/constants/business.ts
  src/features/Join/hooks/useCerficationMutation.ts
  src/features/Join/hooks/useSignup.ts
  src/features/Login/components/LoginForm.tsx
Labels: fix, API, feat, style
